body {
  margin: 2px;
}
#btnUserInput {
  margin: 5px;
}
#laUsername {
  color: red;
  font-style: italic;
  visibility: hidden;
}
#laPassword {
  color: red;
  font-style: italic;
  visibility: hidden;
}